@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
/* topPannel start  */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBarNav::placeholder {
  position: relative;
  color: gray;
}

.buttonDepth:hover {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.3);
}

/* topPannel end  */
